<?xml version="1.0"?>
<log4net>
  <root>
    <level value="All"/>
    <appender-ref ref="file"/>
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="ApplicationLogs/PotentiaApp.log"/>
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value="5MB"/>
    <maxSizeRollBackups value="10" />
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{MM-dd-yyyy hh:mm:ss.fff} [%thread] [%level]  [%logger] -  %m%n" />
    </layout>
  </appender>
</log4net>