<html>
<head>
    <title></title>
    <style>
        <!--
        .hmmessage P {
            margin: 0px;
            padding: 0px;
        }

        body.hmmessage {
            font-size: 12pt;
            font-family: Calibri;
        }
        -->
    </style>
</head>
<body class='hmmessage'>
    <div dir='ltr'>
        <br>
        <br>
        <div>

            <center>
                <table style="background-color:#ffffff;background:#ffffff;width:100% !important;padding:0;" border="0" cellpadding="8" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <table style="border-top:1px #b9e1fb solid;border-left:1px #b9e1fb solid;border-right:1px #b9e1fb solid;border-bottom:1px #b9e1fb solid;border-radius:0px 0px 4px 4px;" align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="1" align="center" style="color:#fff;padding:5px;line-height:2.3em;">
                                                <div class="logo">
                                                    <a href="javascript:;">
                                                        <img style="width:150px;" src="http://ui.ndfriends.org/Content/assets/images/logo.png" alt="logo">
                                                    </a>
                                                </div>
                                            </td>
                                            <!--  <td align="center" height="1" style='background:#4db3a5;color:#fff;padding:5px;line-height:2.3em;'>
                                                      <h1>AccountsInSync</h1>
                                                  </td>-->

                                        </tr>
                                        <tr>
                                            <td>
                                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="3" height="36">
                                                                <br>

                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td width="36">
                                                                <br>

                                                            </td>
                                                            <td style="font-size:14px;color:#444444;font-family:'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif';border-collapse:collapse;" align="left" valign="top" width="454">
                                                                Dear [Name],
                                                                <br><br />You have requested a password reset for your ND Friends account.
                                                                <br />
                                                                <br />
                                                                Please use these credentials to log-in and reset:
                                                                <br />
                                                                <br />

                                                                Username: [UserName]<br />
                                                                Password: [SystemGeneratedPassword]
                                                                <!--<br />
                                                                <br />
                                                                URL: <a style="font-style:italic;" href="">  </a>-->
                                                                <br />
                                                                <br>  Stay Well,
                                                                <br>  The ND Friends Team


<td width="36"><br></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" height="36">
                                                                <br>

                                                            </td>

                                                        </tr>

                                                    </tbody>

                                                </table>

                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="10"><br></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0;border-collapse:collapse;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr style="font-size:11px;color:#a8b9c6;font-family:'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif';" valign="top">
                                                            <td align="left" width="400"></td>
                                                            <td align="right" width="128">© ND Friends</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>

        </div>
    </div>
</body>
</html>
